@use "../../libs/css/theme" as *;
@use "../../libs/css/mixin.scss" as *;


@include b(notify) {
  padding: $hy-border-margin-padding-base;

  @include e(wrapper) {
    @include flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    @include m(text) {
      font-size: $hy-font-size-base;
      text-align: center;
    }
  }

  @include themeColor(primary, $hy-primary);
  @include themeColor(success, $hy-success);
  @include themeColor(error, $hy-error);
  @include themeColor(warning, $hy-warning);
  @include themeColor(info, $hy-info);
}