@use "../../libs/css/theme" as *;
@use "../../libs/css/mixin.scss" as *;

@include b(tooltip) {
  position: relative;
  @include flex;

  &__wrapper {
    @include flex;
    justify-content: center;
    /* #ifndef APP-NVUE */
    white-space: nowrap;
    /* #endif */

    &__text {
      font-size: 14px;
    }

    &__popup {
      @include flex;
      justify-content: center;

      &__list {
        background-color: rgb(50, 50, 51);
        position: relative;
        flex: 1;
        border-radius: $hy-border-radius-sm;
        padding: 0;
        @include flex(row);
        align-items: center;
        overflow: hidden;

        &__btn {
          padding: $hy-border-margin-padding-sm $hy-border-margin-padding-base;
          display: flex;
          justify-content: center;
          align-items: center;

          &--hover {
            background-color: $hy-background--hover;
          }

          &__text {
            font-size: 13px;
            color: #ffffff;
          }
        }
      }

      &__indicator {
        position: absolute;
        background-color: rgb(50, 50, 51);
        width: 14px;
        height: 14px;
        bottom: -4px;
        transform: rotate(45deg);
        border-radius: 2px;
        z-index: -1;

        &--hover {
          background-color: $hy-text-color--hover;
        }
      }
    }
  }
}
