@use "../../libs/css/theme" as *;
@use "../../libs/css/mixin" as *;


@include b(tabbar-item) {
  flex: 1;
  text-align: center;
  text-decoration: none;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include e(body) {
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 1;
    padding: 0;
    position: relative;

    :deep(){
      @include is(active) {
        color: $hy-primary;
      }

      @include is(inactive) {
        color: $hy-text-color--grey;
      }
    }
  }


  @include e(body-title) {
    font-size: $hy-font-size-sm;
    line-height: initial;
  }

  @include edeep(body-icon) {
    font-size: 40rpx;
  }

}