@use "../../libs/css/theme" as *;
@use "../../libs/css/mixin.scss" as *;

@include b(read-more) {
  &__content {
    overflow: hidden;
    font-size: 15px;
    text-align: left;
    transition: height 0.3s ease;
  }

  &__toggle {
    @include flex;
    justify-content: center;
    position: relative;

    &--mask {
      background-image:
              linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, $hy-background--2 80%);
      padding-top: 100px;
      margin-top: -100px;
    }

    &__text {
      @include flex;
      align-items: center;
      justify-content: center;
      margin-top: 5px;
      color: $hy-primary;
      :deep(.hy-icon) {
        color: $hy-primary;
      }
    }
  }
}