@use "../../libs/css/theme" as *;
@use "../../libs/css/mixin.scss" as *;


@include b(float-button) {
  position: relative;
  background-color: $hy-primary;
  color: #FFFFFF;

  @include borderRadio(circle);
  @include borderRadio(square);

  @include e(shadow) {
    box-shadow: $hy-box-shadow;
  }

  //@include e(animation) {
  //  animation: floatAnimation 2s ease-in-out infinite;
  //  @keyframes floatAnimation {
  //    0%,
  //    100% {
  //      transform: translateY(0); /* 初始位置 */
  //    }
  //    50% {
  //      transform: translateY(-20px); /* 上浮20像素 */
  //    }
  //  }
  //}

  @include e(container) {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    @include flex(column);
    justify-content: center;
    align-items: center;
    transition: 0.4s ease;
    background-color: $hy-primary;
    :deep(.hy-icon) {
      color: #FFFFFF;
    }
  }

  @include e(menus) {
    position: absolute;
    z-index: -1;
    overflow: hidden;
    max-height: 250px;
    box-sizing: border-box;
    background-color: $hy-primary;
    @include m(item) {
      font-size: 28rpx;
      box-sizing: border-box;
      white-space: nowrap;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @include borderRadio(circle);
    @include borderRadio(square);
  }
}