@use "../../libs/css/mixin" as *;
@use "../../libs/css/theme" as *;


@include b(config-provider) {
  box-sizing: border-box;
  width: 100%;
  height: calc(100vh - var(--window-top));
  height: calc(100vh - var(--window-top) - constant(safe-area-inset-bottom));
  height: calc(100vh - var(--window-top) - env(safe-area-inset-bottom));
  //overflow-y: auto;
  //overflow-x: hidden;
  background-color: $hy-background;
  color: $hy-text-color;
}