@use "../../libs/css/theme" as *;
@use "../../libs/css/mixin.scss" as *;

@include b(virtual-container) {
  padding: 0 $hy-border-margin-padding-base;
  box-sizing: border-box;

  @include e(list) {
    overflow-anchor: none;
    @include m(item) {
      box-sizing: border-box;
    }

    @include m(left) {
      margin-right: $hy-border-margin-padding-base;
    }
    @include m(box) {
      box-sizing: border-box;
      width: 50%;
      display: flex;
      flex-direction: column;
      &-item {
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
      }
    }
  }
}