@use "../../libs/css/theme" as *;
@use "../../libs/css/mixin" as *;


@include b(picker) {
  position: relative;
  &-input {
    position: relative;
    .input-cover {
      opacity: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
    }
  }

  @include e(title) {
    @include flex();
    justify-content: space-between;
    padding: $hy-border-margin-padding-lg;
    @include m(center) {
      font-size: $hy-font-size-base;
      color: $hy-text-color--grey;
    }

    @include m(right) {
      color: $hy-primary;
    }
  }

  @include m(view) {
    @include e(column) {
      @include flex;
      flex: 1;
      justify-content: center;
      text-align: center;

      :deep(.uni-picker-view-indicator) {
        background: $hy-background--hover;
      }

      @include e(item) {
        color: $hy-text-color;
        @include lineEllipsis;
        @include m(disabled) {
          /* #ifndef APP-NVUE */
          cursor: not-allowed;
          /* #endif */
          opacity: 0.35;
        }
      }
    }

    @include edeep(mask) {
      background-image: $hy-background-image--mask--two-flanks;
    }

    @include edeep(loading) {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 1000;
    }
  }
}