@use "../../libs/css/mixin" as *;
@use "../../libs/css/theme" as *;

@include b(divider) {
  @include flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 35px;

  @include e(line) {
    /* #ifndef APP-NVUE */
    vertical-align: middle;
    /* #endif */
  }

  @include e(text) {
    color: $hy-text-color--3;
    margin: 0 $hy-border-margin-padding-sm;
  }

  @include e(dot) {
    font-size: $hy-font-size-sm;
    margin: 0 $hy-border-margin-padding-sm;
    color: $hy-text-color--3;
  }
}