@use "../../libs/css/mixin" as *;

@include b(waterfall) {
  @include flex;
  flex-direction: row;
  align-items: flex-start;

  @include e(column) {
    @include flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
    /* #ifndef APP-NVUE */
    height: 100%;
    /* #endif */
  }
}