@use "../../libs/css/mixin.scss" as *;

@include b(rate) {
  @include flex;
  align-items: center;
  margin: 0;
  padding: 0;
  /* #ifndef APP-NVUE */
  touch-action: none;
  /* #endif */

  @include e(content) {
    @include flex;

    @include m(item) {
      position: relative;

      @include e(icon-wrap) {
        @include m(half) {
          position: absolute;
          overflow: hidden;
          top: 0;
          left: 0;
        }
      }
    }
  }
}