@use "../../libs/css/theme" as *;
@use "../../libs/css/mixin" as *;

@include b(textarea) {
  border-radius: $hy-border-radius-sm;
  position: relative;
  @include flex;
  flex: 1;
  padding: $hy-border-margin-padding-sm;
  
  @include e(border) {
  	/* TODO: 先这样写，因为在某些pda中写$hy-border-line，边框不显示，后续排除问题 */
  	border: 1px solid #e8e8e8;
  }

  @include e(radius) {
    border-radius: $hy-border-radius-sm;
  }

  @include e(no-radius) {
    border-radius: $hy-border-radius-no;
  }

  @include e(disabled) {
    background-color: $hy-background--disabled;
    color: $hy-text-color--disabled !important;

    &-text {
      color: $hy-text-color--disabled !important;
    }
  }

  @include e(field) {
    min-height: 50rpx;
    max-height: 200rpx;
    color: $hy-text-color;
    flex: 1;
    font-size: 15px;
    width: 100%;
    background-color: transparent;
    border: none;
  }

  @include e(count) {
    position: absolute;
    right: 5px;
    bottom: 2px;
    font-size: 12px;
    background-color: $hy-background--3;
    padding: 1px 4px;
    border-radius: $hy-border-radius-sm;
  }
}
//textarea {
//  background-color: transparent;
//  border: none;
//}
