@use "../../libs/css/mixin.scss" as *;
@use "../../libs/css/theme" as *;

@include b(line-progress) {
  align-items: stretch;
  position: relative;
  @include flex(row);
  flex: 1;
  overflow: hidden;
  border-radius: $hy-border-radius-semicircle;

  @include e(background) {
    background-color: $hy-background--empty;
    border-radius: $hy-border-radius-semicircle;
    flex: 1;
  }

  @include e(line) {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    align-items: center;
    @include flex(row);
    color: #ffffff;
    border-radius: $hy-border-radius-semicircle;
    transition: width 0.5s ease;
    justify-content: flex-end;
    background-color: $hy-primary;
  }

  @include e(text) {
    font-size: 10px;
    color: #ffffff;
    margin-bottom: 1px;
    margin-right: 5px;
    transform: scale(0.8);
  }
}