@use "../../libs/css/mixin" as *;
@use "../../libs/css/theme" as *;

@include b(toast){
  @include e(content) {
    @include flex;
    padding: 12px 20px;
    border-radius: 4px;
    background-color: #585858;
    color: #ffffff;
    align-items: center;
    /* #ifndef APP-NVUE */
    max-width: 600rpx;
    /* #endif */
    position: relative;
    z-index: 10090;

    @include m(loading) {
      flex-direction: column;
      padding: 20px;
    }

    @include m(icon) {
      width: 60rpx;
      height: 60rpx;
      border-radius: $hy-border-radius-semicircle;
      box-sizing: border-box;
      margin-right: $hy-border-margin-padding-base;
      display: flex;
      justify-content: center;
      align-items: center;

      @include e(info) {
        background: $hy-info;
      }

      @include e(primary) {
        background: $hy-primary;
      }

      @include e(success) {
        background: $hy-success;
      }

      @include e(error) {
        background: $hy-error;
      }

      @include e(warning) {
        background: $hy-warning;
      }
    }

    @include m(text) {
      color: #ffffff;
      font-size: 15px;
      line-height: 15px;
      max-width: 400rpx;

      @include e(info) {
        color: $hy-info;
      }

      @include e(error) {
        color: $hy-error;
      }

      @include e(primary) {
        color: $hy-primary;
      }

      @include e(success) {
        color: $hy-success;
      }

      @include e(warning) {
        color: $hy-warning;
      }
    }
  }


  @include m(default)  {
    color: #ffffff;
    background-color: #585858;
  }
}
