@use "../../theme.scss" as *;
@use "../../libs/css/mixin.scss" as *;


@include b(pagination) {
  user-select: none;

  //@include edeep(icon) {
  //  font-size: $-pagination-icon-size;
  //}

  @include e(content) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: $hy-border-margin-padding-base;
  }
  @include e(message) {
    text-align: center;
    font-size: $hy-font-size-sm;
    padding: 1px 0 16px 0;
  }
  &__nav {
    min-width: 60px;
    @include m(active){
      color: rgba(0,0,0,0.65)
    }
    @include m(disabled){
      color: rgba(0,0,0,0.15)
    }
  }
  @include e(size){
    flex: 1;
    text-align: center;
    font-size: $hy-font-size-sm;
  }
  @include e(separator){
    padding:  0 4px;
  }
  &__left {
    display: inline-block;
  }
  @include e(current){
    color: $hy-primary;
  }
}