@use "../../libs/css/theme" as *;
@use "../../libs/css/mixin" as *;


@include b(submit-bar) {
  display: flex;
  background-color: $hy-background--container;
  padding: $hy-border-margin-padding-base;
  width: 100%;
  box-sizing: border-box;

  /*左边内容*/
  @include e(left) {
    display: flex;
    font-size: 20rpx;
    flex: 1;
    @include m(item) {
      margin: 0 $hy-border-margin-padding-base;
      position: relative;
    }
  }

  /*右边内容*/
  @include e(right) {
    display: flex;
    justify-content: flex-end;
    font-size: 26rpx;
    align-items: center;
    width: 400rpx;
    @include m(button) {
      padding: $hy-border-margin-padding-base $hy-border-margin-padding-lg;
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}