@use "../../libs/css/mixin.scss" as *;
@use "../../libs/css/theme" as *;


@include b(card) {
  position: relative;
  overflow: hidden;
  font-size: 28rpx;
  background-color: $hy-background--container;
  box-sizing: border-box;

  @include m(full) {
    // 如果是与屏幕之间不留空隙，应该设置左右边距为0
    margin-left: $hy-border-margin-padding-base !important;
    margin-right: $hy-border-margin-padding-base !important;
    width: 100%;
  }

  @include m(border) {
    @include pseudo(after) {
      border-radius: 16rpx;
    }
  }

  @include m(head) {
    @include e(flex) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    @include e(left) {
      display: flex;
      align-items: center;
      flex: 1;

      @include edeep(thumb) {
        margin-right: $hy-border-margin-padding-base;
        flex-shrink: 0
      }

      @include e(title) {
        max-width: 450rpx;
        @include lineEllipsis;
      }

      @include e(sub) {
        color: $hy-text-color--grey;
        font-size: $hy-font-size-sm;
      }
    }

    @include e(right) {
      color: $hy-text-color--grey;
      margin-left: $hy-border-margin-padding-sm;
    }
  }
}