@use "../../libs/css/mixin.scss" as *;
@use "../../theme.scss" as *;


@include b(card) {
  position: relative;
  overflow: hidden;
  font-size: 28rpx;
  background-color: $hy-background--container;
  box-sizing: border-box;

  @include m(full) {
    // 如果是与屏幕之间不留空隙，应该设置左右边距为0
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100%;
  }

  @include m(border) {
    @include pseudo(after) {
      border-radius: 16rpx;
    }
  }

  @include m(head) {
    @include e(flex) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    @include e(left) {
      display: flex;

      @include e(thumb) {
        margin-right: 16rpx;
      }

      @include e(title) {
        max-width: 400rpx;
        @include lineEllipsis;
      }
    }

    @include e(right) {
      color: $hy-text-color--grey;
      margin-left: 6rpx;
    }
  }
}